
  <div class="hero-body is-large">
    <div class="container">
      <div class="title has-text-centered">

        <figure class="image is-128x128">
          <!-- <img class="is-rounded" src="/assets/top_cat_with_sunglasses.jpg"> -->

        </figure>
        <!-- <img src="/assets/top_cat_with_sunglasses.jpg" width="500px" height="500px"> -->
        <p>Hello</p>
      </div>
    </div>
  </div>
